---
export interface Props {
  title: string,
  excerpt: string,
  featured_img: string,
  link: string,
}

const { title, excerpt, featured_img, link } = Astro.props as Props;

// The above is for types... otherwise just do:
// const { title, excerpt, featured_img, link } = Astro.props;
---
  
<div class="card">
  <div class="card-body">
    <img src={featured_img} alt={`Featured image for the article ${title}`} />

    <div>
      <h2><a href={link}>{title}</a></h2>

      {excerpt}
    </div>
  </div>
</div>

<style lang="scss">
  .card {
    background: white;
    width: 100%;
    contain: style layout inline-size;
    border-radius: 8px;
    overflow: hidden;
  }
  .card-body {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    > div {
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
  }
  /* BUG? I needed to use TWICE the width here
     The container actually swaps at 450px
  */
  @container (min-width: 900px) {
    .card-body {
      grid-template-columns: 1fr 1fr;
    }
  }
  h2 a {
    color: #309196;
    text-decoration: none;
    display: block;
    margin-block-end: 0.75rem;
  }
  h2 a:hover,
  h2 a:focus {
    color: black;
  }
  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
</style>